<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link
            rel="stylesheet"
            href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

        <script
            defer
            src="https://code.getmdl.io/1.3.0/material.min.js">
        </script>

        <script
            src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.0.0/dist/instantsearch.production.min.js"
            integrity="sha256-6S7q0JJs/Kx4kb/fv0oMjS855QTz5Rc2hh9AkIUjUsk="
            crossorigin="anonymous">
        </script>

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
